@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Roboto&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.6rem;  
    text-align: center;
}

.header {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 5rem;
    text-align: center;
    color: #264653;
    padding-top: 2rem;
}

.caption {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    color: #264653;
    padding-top: 1rem;
}

.row {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

/* Jumbotron */

.main {
    margin-top: 0;
}

.jumbotron {
    background-color: transparent; 
    background: url("../images/dublin.jpg") no-repeat center center fixed;
    height: 100vh;
    background-size: cover;
    margin-bottom: 0;
    opacity: 90%;
}

.jumbotron-text {
    font-size: 8rem;
    text-align: center;
    color: #F4F1DE;
    padding-top: 13rem;
    text-shadow: -1px 0 #264653, 0 1px #264653, 1px 0 #264653, 0 -1px #264653;
}

.jumbotron-caption-text {
    font-size: 4rem;
    text-align: center;
    color: #F4F1DE;
    padding-top: 2rem;
    text-shadow: -1px 0 #264653, 0 1px #264653, 1px 0 #264653, 0 -1px #264653;
}

/* What We Do */


.questionnaire {
    display: flex;
}



/* Colors */

.background {
    background-color: #F4F1DE;
}

.burntsienna {
    color: #E76F51;
}

.charcoal {
    background-color: #264653;
}

.eggshell {
    color: #F4F1DE;
}

.orangeyellowcrayola {
    color: #E9C46A;
}

.persiangreen {
    color: #2A9D8F;
}

.sandybrown {
    color: #F4A261;
}

/* Map */
#map {
    min-height: 360px;
    min-width: 400px;
    position: center;
}