@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Roboto&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.6rem;  
    text-align: center;
}

/* Colors */

.burntsienna {
    color: #E76F51;
}

.charcoal {
    color: #264653;
}

.orangeyellowcrayola {
    color: #E9C46A;
}

.persiangreen {
    color: #2A9D8F;
}

.sandybrown {
    color: #F4A261;
}

/* Map */
#map {
    min-height: 360px;
    min-width: 400px;
}